body {
  background-color: aquamarine;
}

.site {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.siteName {
  font-size: x-large;
  font-weight: bold;
}

.item {
  display: flex;
  flex-direction: row;
}

#productImage {
  height: 100px;
  width: 100px;
}

.product {
  margin-left: 15px;
  margin-top: 15px;
}

#item1 {
  margin-right: 10px;
}
